# Arquivos de Sistema
.DS_Store
Thumbs.db

# Arquivos de IDEs e Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Arquivos Temporários e Logs
temp/
tmp/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Se houver dependências do Node (no futuro)
node_modules/

# Qualquer outro arquivo temporário específico
*.tmp
*.bak
